<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>results</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap" rel="stylesheet">
  <style>
    /* Styling for the banner */
    body {
      margin: 0;
      padding: 0;
    }

    a {
      color: #333;
    }

    .banner {
      background-color: #ffd9a3;
      color: #333;
      padding: 10px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .banner img {
      height: 75px;
      width: 75px;
      margin-left: 10px;
    }

    /* Styling for the header */
    .header {
      font-family: 'Montserrat', sans-serif;
      font-size: 36px;
      font-weight: 700;
      margin: 0 auto 0 20px;
      text-align: center;
      text-transform: uppercase;
    }

    /* Styling for the navigation */
    .navigation {
      display: flex;
      align-items: center;
    }

    .navigation-item {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      margin-left: 20px;
    }

    /* Styling for the result table */
    table {
      border-collapse: collapse;
      margin: 20px auto;
      max-width: 900px;
      text-align: center;
      font-family: Helvetica, sans-serif;
      background-color: #69a6e7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow to create depth */
      border-radius: 10px; /* Add rounded corners */
      overflow: hidden; /* Hide anything that overflows the table */
    }

    /* Styling for the table rows */
    table tr {
      background-color: #fff; /* Set the background color for the rows */
    }

    /* Styling for the table header row */
    table th {
      background-color: #f1f1f1; /* Set the background color for the header row */
    }

    /* Styling for the table cells */
    table td {
      padding: 10px;
    }

    /* Styling for the table border */
    table td, table th {
      border: 1px solid #ddd;
    }

    /* Add a margin to the blue background */
    .table-wrapper {
      background-color: #c5d7e8;
      padding: 20px;
    }
  </style>
</head>
<body>
  <div class="banner">
    <img src="UpbeatLogoBold75x75.jpg" alt="Website Logo">
    <h1 class="header">results</h1>
    <div class="navigation">
      <a class="navigation-item" href="http://localhost:3000/import">IMPORT</a>
      <a class="navigation-item" href="http://localhost:3000/results">USERS</a>
      <a class="navigation-item" href="http://localhost:3000/posts">POSTS</a>
      <a class="navigation-item" href="http://localhost:3000/comments">COMMENTS</a>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>User ID</th>
          <th>First Name</th>
          <th>Middle Initial</th>
          <th>Last Name</th>
          <th>Biography</th>
          <th>Location</th>
          <th>Birthday</th>
        </tr>
      </thead>
      <tbody>
        <% let currentUserID %>
        <% results.map(result => { %>
          <% if (currentUserID !== result.userID) { %>
            <tr>
              <td><%= result.userID %></td>
              <td><%= result.fName %></td>
              <td><%= result.mInitial %></td>
              <td><%= result.lName %></td>
              <td><%= result.biography %></td>
              <td><%= result.userLocation %></td>
              <td><%= result.birthday.toDateString().slice(4, 16) %></td>
            </tr>
          
            <% currentUserID = result.userID %>
            <% if (result.postID) { %>
              <tr>
                <td></td>
                <td colspan="6">
                  <table>
                    <tr>
                      <th>Post ID</th>
                      <th>Like Count</th>
                      <th>Location</th>
                      <th>Content</th>
                      <th>Photo URL</th>
                      <th>Date</th>
                    </tr>
                    <% results.filter(r => r.postID !== null && r.userID == currentUserID).map(postResult => { %>
                      <tr>
                        <td><%= postResult.postID %></td>
                        <td><%= postResult.likeCount %></td>
                        <td><%= postResult.postLocation %></td>
                        <td><%= postResult.content %></td>
                        <td><%= postResult.photoURL %></td>
                        <td><%= postResult.date %></td>
                      </tr>
                    <% }) %>
                  </table>
                </td>
              </tr>
            <% } %>
          <% } %>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>
